body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1440px;
  padding-right: 56px;
  padding-left: 56px;
  justify-content: center;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

header a{
    justify-content: space-between;
    text-decoration: none;
}

.justify-left{
    justify-content: flex-start;
}